@media (max-width:480px) {

  body {
    height: 100%;
  }

  .weather-container {
    margin: 3vh 0;
    height: auto;
    flex-direction: column;

  }

  /* Side container */

  .side-container {
    width: 100%;
    border-top-right-radius: 50px;
  }

  /* Icon */

  .weather-icon {
    display: flex;
    justify-content: center;
    padding: 0.5rem 3rem;
    width: 100%;
  }

  .icon-large {
    width: 70%;
  }


  /* City Date and Time */


  .city-date-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
  }

  #time {
    font-size: 2.5rem;
  }

  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
  }

  /* Description */

  .weather-description {
    gap: 2vh;
  }

  .min-max {
    display: flex;
    flex-direction: row;
    gap: 3vh;
  }

  .min,
  .max {
    gap: 2vw;
  }

  /* Today */

  .main-container {
    width: 95%;
  }


  /* Highlight */

  .today-highlights {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .today-highlights h2 {
    padding-left: 6vw;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .highlight-container {

    width: 100%;
    grid-template-columns: repeat(2, 50%);
    column-gap: 2vw;
    row-gap: 2vh;
    margin-top: 0vh;
  }




}